<header
    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e8f3f2] px-10 py-3"
>
    <div class="flex items-center gap-4 text-[#0e1b19]">
    <a href="/">
        <button>
        <h2
            class="text-[#0e1b19] text-lg font-bold leading-tight tracking-[-0.015em]"
        >
            NourishQuest
        </h2>
        </button>
    </a>
    </div>
    <div class="flex gap-2">
    <a href="/login">
        <button
        class="flex min-w-[84px] max-w-[480px] items-center justify-center rounded-full h-10 px-4 bg-[#1ce3cf] text-[#0e1b19] text-sm font-bold"
        >
        <span>Log In</span>
        </button>
    </a>
    <a href="/register">
        <button
        class="flex min-w-[84px] max-w-[480px] items-center justify-center rounded-full h-10 px-4 bg-[#e8f3f2] text-[#0e1b19] text-sm font-bold"
        >
        <span>Sign Up</span>
        </button>
    </a>
    </div>
</header>